body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    max-width: 1000px; /* 최대 너비를 1000px로 설정 */
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정 */
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 1000px;
}

textarea {
    width: calc(100% - 40px); /* 전체 너비에서 좌우 패딩 20px만큼 제외한 너비로 설정 */
    height: 100px;
    margin-bottom: 20px; /* 아래 여백을 더 크게 설정 */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#outputText {
    margin-top: 20px; /* 상단 여백을 더 크게 설정 */
}


